<p>
  <img src="https://image.ibb.co/gkngeQ/tractoico132x132.png" style="width: 200px;" />
</p>

<blockquote>
  <p>Cryptocurrency for The Global Payment Network Services</p>
  <footer><a href="http://www.tracto.org/" target="_blank">http://www.tracto.org/</a></footer>
</blockquote>
